In [1]:
import pandas as pd
import numpy as np

Create DataFrame

In [79]:
df1=pd.read_csv(r"C:\Users\HP\Downloads\verbo_data.csv")
df=df1.copy()
df.head()

,booking_id,guest_name,email,listing_id,listing_city,checkin_date,checkout_date,nights,price_per_night,total_price,payment_status,review_score,is_cancelled
0,BKG-013035,NaN,nhoffman@scott.com,1083,Los Angeles,2023-05-24,2023-12-12,-1,245.61,-245.61,pending,6.0,False
1,BKG-003115,CAROLYN SHAH,achan@olson-nelson.com,1079,los angeles,2024-08-19,2024-11-08,81,51.96,4208.76,NaN,6.0,Yes
2,BKG-008732,Jermaine Huang,thomasadam@yahoo.com,1036,San Fran,2024-03-20,2025-03-03,348,383.63,133503.24,paid,1.0,FALSE
3,BKG-007591,amy rios,reginald31@robertson-smith.com,1025,LA,2024-02-29,2025-03-16,381,268.36,102245.16,pending,6.0,n
4,BKG-000221,NaN,NaN,1089,LA,2025-01-26,2025-02-22,27,134.71,3637.17,PENDING,NaN,TRUE

In [81]:
# Check data types and missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22000 entries, 0 to 21999
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   booking_id       22000 non-null  object
 1   guest_name       17635 non-null  object
 2   email            20889 non-null  object
 3   listing_id       22000 non-null  int64
 4   listing_city     22000 non-null  object
 5   checkin_date     22000 non-null  object
 6   checkout_date    22000 non-null  object
 7   nights           21663 non-null  object
 8   price_per_night  21530 non-null  object
 9   total_price      22000 non-null  object
 10  payment_status   15631 non-null  object
 11  review_score     13199 non-null  float64
 12  is_cancelled     22000 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 2.2+ MB

In [83]:
#short summary statystics
df.describe()

         listing_id  review_score
count  22000.000000  13199.000000
mean    1050.147818      2.693386
std       29.077741      2.979576
min     1000.000000     -1.000000
25%     1025.000000     -1.000000
50%     1050.000000      3.000000
75%     1075.000000      6.000000
max     1100.000000      6.000000

In [85]:
# delete duplicates
print(f'Data Frame contain {df.duplicated().sum()} duplicates')

df=df.drop_duplicates()

Data Frame contain 2000 duplicates

In [87]:
# Check data types and missing valuesd again
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20000 entries, 0 to 21999
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   booking_id       20000 non-null  object
 1   guest_name       16033 non-null  object
 2   email            18984 non-null  object
 3   listing_id       20000 non-null  int64
 4   listing_city     20000 non-null  object
 5   checkin_date     20000 non-null  object
 6   checkout_date    20000 non-null  object
 7   nights           19692 non-null  object
 8   price_per_night  19575 non-null  object
 9   total_price      20000 non-null  object
 10  payment_status   14208 non-null  object
 11  review_score     11962 non-null  float64
 12  is_cancelled     20000 non-null  object
dtypes: float64(1), int64(1), object(11)
memory usage: 2.1+ MB

In [89]:
# Change 'guest_name' colunm: delete unnecessary spase and change value to title  text
df['guest_name']=df['guest_name'].str.strip().str.title()
df['guest_name']=df['guest_name'].fillna('Unknown')

In [91]:
# Chane 'email' column: elete unnecessary spase
df['email']=df['email'].str.strip().fillna('Unknown')

In [93]:
# Check unique number of 'listing_city' column 
df['listing_city'].unique()

array(['Los Angeles', 'los angeles', 'San Fran', 'LA', 'new york',
       'San Francisco', 'SF', 'nyc', 'NYC', 'New York'], dtype=object)

In [95]:
#replace inapropriate  values 'listing_city' column
city_dict={'los angeles':'Los Angeles',
           'LA':'Los Angeles',
           'San Fran':'San Francisco',
           'SF':'San Francisco',
           'new york':'New York',
           'nyc':'New York',
           'NYC':'New York'}
df['listing_city']=df['listing_city'].replace(city_dict)

# Check unique number of 'listing_city' column  again
df['listing_city'].unique()

array(['Los Angeles', 'San Francisco', 'New York'], dtype=object)

In [97]:
# Check unique number of 'is_cancelled' column 
df['is_cancelled'].unique()

array(['False', 'Yes', 'FALSE', 'n', 'TRUE', 'y', 'No', 'True', '0', '1'],
      dtype=object)

In [99]:
#replace inapropriate  values 'is_cancelled' column
is_cancelled_dict={'y':'Yes',
                   'TRUE':'Yes',
                   'False':'No',
                   'True':'Yes',
                   '1':'Yes',
                   'FALSE':'No',
                   '0':'No',
                   'n':'No'}
df['is_cancelled']=df['is_cancelled'].replace(is_cancelled_dict)

# Check unique number of 'is_cancelled' column  again
df['is_cancelled'].unique()

array(['No', 'Yes'], dtype=object)

In [101]:
# change'checkin_date' data type 
df['checkin_date'] = pd.to_datetime(df['checkin_date'], dayfirst=True,format='mixed')

# Check 'checkin_date' data 
df['checkin_date'].head()

0   2023-05-24
1   2024-08-19
2   2024-03-20
3   2024-02-29
4   2025-01-26
Name: checkin_date, dtype: datetime64[ns]

In [103]:
# change'checkout_date' data type 
df['checkout_date'] = pd.to_datetime(df['checkout_date'], dayfirst=True,format='mixed')

# Check 'checkout_date' data 
df['checkout_date'].head()

0   2023-12-12
1   2024-11-08
2   2025-03-03
3   2025-03-16
4   2025-02-22
Name: checkout_date, dtype: datetime64[ns]

In [105]:
# Check unique number of 'is_cancelled' column 
df['payment_status'].unique()

array(['pending', nan, 'paid', 'PENDING', 'Unpaid', 'Paid'], dtype=object)

In [107]:
#  change 'payment_status' value to title  text and fill empty values 'n/a'
df['payment_status']=df['payment_status'].str.title().fillna('n/a')

# Check unique number of 'payment_status' column again
df['payment_status'].unique()

array(['Pending', 'n/a', 'Paid', 'Unpaid'], dtype=object)

In [109]:
# Check unique number of 'review_score' column (if reviev score not avaible - 0)
df['review_score'].unique()

array([ 6.,  1., nan,  4., -1.,  2.,  5.,  3.])

In [111]:
#replace inapropriate  values 'review_score' column
review_score_dict={6:5,-1:1}
df['review_score']=df['review_score'].replace(review_score_dict).fillna(0)

In [113]:
# Apply the folowing logic: if 'checkout_date' < 'checkin_date':'checkin_date'=='checkout_date' and 'checkout_date'=='checkin_date'
mask_data=df['checkout_date']<df['checkin_date']
df.loc[mask_data, 'new_checkin_date'] = df.loc[mask_data, 'checkout_date']
df.loc[mask_data, 'checkout_date'] = df.loc[mask_data, 'checkin_date']
df.loc[mask_data,'checkin_date']=df.loc[mask_data,'new_checkin_date']
df=df.drop(['new_checkin_date'],axis=1)

In [115]:
# create column 'manual_night' :'checkout_date'-'checkin_date'
df['manual_night']=(df['checkout_date']-df['checkin_date']).dt.days

In [117]:
#replace "seven" value in "night" column
df['manual_night']= df['nights']
mask = df['manual_night'] == 'seven'
df.loc[mask, 'manual_night'] = (df.loc[mask, 'checkout_date'] - df.loc[mask, 'checkin_date']).dt.days

# replcae Null values in 'nights' columns  to calculation 'checkout_date'-'checkin_date'
mask2=df['manual_night'].isna()
df.loc[mask2,'manual_night']=(df.loc[mask2,'checkout_date']-df.loc[mask2,'checkin_date']).dt.days

# change dtype 'nights'
df['manual_night']=df['manual_night'].astype('int')

# if 'nights' values<0 replace 'nights' to positive value and change 'checkout_date' to 'checkout_date'+abs_night
mask1=df['manual_night']<0
abs_night = df.loc[mask1, 'manual_night'].abs()

df.loc[mask1, 'checkout_date'] = df.loc[mask1, 'checkout_date'] + pd.to_timedelta(abs_night, unit='d')
df.loc[mask1,'manual_night']=abs_night

In [119]:
# create column 'manual_price_per_night' and replace in this column 'free' and NaN values to 0
df['manual_price_per_night']=df['price_per_night'].copy()

mask_tortal_price=df['manual_price_per_night'].astype(str).str.contains('free')
df.loc[mask_tortal_price,'manual_price_per_night']=0

mask1_total_price=mask1_total_price = df['manual_price_per_night'].isna()

# Замінюємо NaN на 0
df.loc[mask1_total_price,'manual_price_per_night']=0

# change dtype 'manual_price_per_night' to float
df['manual_price_per_night']=df['manual_price_per_night'].astype(float)

In [121]:
# create column 'manual_total_price' and replace in this column 'error'  values to 0
df['manual_total_price']=df['total_price'].copy()

mask_total_price=df['manual_total_price'].astype(str).str.contains('error')
df.loc[mask_total_price,'manual_total_price']=0

# change dtype 'manual_total_price' to float
df['manual_total_price']=df['manual_total_price'].astype(float)

In [123]:
# check change apllying
df[df['manual_total_price'].astype(str).str.contains('error')]

Empty DataFrame
Columns: [booking_id, guest_name, email, listing_id, listing_city, checkin_date, checkout_date, nights, price_per_night, total_price, payment_status, review_score, is_cancelled, manual_night, manual_price_per_night, manual_total_price]
Index: []

In [125]:
#  if manual_total_price <0: 'manual_night'*'manual_price_per_night'
mask_negetive_total_price=df['manual_total_price']<0
df.loc[mask_negetive_total_price,'manual_total_price']=(df.loc[mask_negetive_total_price,'manual_night']\
                                                        *df.loc[mask_negetive_total_price,'manual_price_per_night'])

In [127]:
# create new column 'night' to segment 'manual_night'. Find mean grouping column ('listing_city','night'). 
# Finally replace null value in 'manual_price_per_night' 

bins=[-1,10,20,30,40,50,75,100,200,400,600,800]
labels=['0-10','10-20','20-30','30-40','40-50','50-75','75-100','100-200','200-400','400-600','600-800']
df['night']=pd.cut(df['manual_night'],bins=bins,labels=labels,right=False)

mean_manual_price_per_night=df.groupby(['listing_city','night'])['manual_price_per_night'].mean()

mask_price_group = (df['manual_price_per_night'].isna()) & (~df['price_per_night'].astype(str).str.contains('free'))

df.loc[mask1_total_price, 'manual_price_per_night'] = df.loc[mask1_total_price, ['listing_city', 'night']].apply(
    lambda row: mean_manual_price_per_night.get((row['listing_city'], row['night'])),
    axis=1
)

C:\Users\HP\AppData\Local\Temp\ipykernel_20100\3709852290.py:8: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  mean_manual_price_per_night=df.groupby(['listing_city','night'])['manual_price_per_night'].mean()

In [129]:
mask_night_null=(df['manual_night']==0) & (df['manual_total_price']==0)
df.loc[mask_night_null,'manual_total_price']=df.loc[mask_night_null,'manual_price_per_night']
mask_total_price_null=df['manual_total_price']==0
df.loc[mask_total_price_null,'manual_total_price']=df.loc[mask_total_price_null,'manual_price_per_night']*df.loc[mask_total_price_null,'manual_night']

In [131]:
# Check if there are outliesr in 'manual_price_per_night' column
quantile_25=np.quantile(df['manual_price_per_night'],0.25)
quantile_75=np.quantile(df['manual_price_per_night'],0.75)
iqr=quantile_75-quantile_25
lower=quantile_25-1.5*iqr
upper=quantile_75+1.5*iqr
df[(df['manual_price_per_night']>upper) |( df['manual_price_per_night']<lower)]

Empty DataFrame
Columns: [booking_id, guest_name, email, listing_id, listing_city, checkin_date, checkout_date, nights, price_per_night, total_price, payment_status, review_score, is_cancelled, manual_night, manual_price_per_night, manual_total_price, night]
Index: []

In [133]:
# Check if there are outliesr in 'manual_total_price' column
quantile_25_total_price=np.quantile(df['manual_total_price'],0.25)
quantile_75_total_price=np.quantile(df['manual_total_price'],0.75)
iqr_total_price=quantile_75_total_price-quantile_25_total_price
lower_total_pricee=quantile_25_total_price-1.5*iqr_total_price
upper_total_price=quantile_75_total_price+1.5*iqr_total_price
df[(df['manual_total_price']>upper_total_price) & (df['manual_total_price']<lower_total_pricee)]

Empty DataFrame
Columns: [booking_id, guest_name, email, listing_id, listing_city, checkin_date, checkout_date, nights, price_per_night, total_price, payment_status, review_score, is_cancelled, manual_night, manual_price_per_night, manual_total_price, night]
Index: []

In [143]:
# if 'price_per_night' == 'free' , "payment_status" - 'Free'
mask_free=df['price_per_night'].astype(str).str.contains('free')
df.loc[mask_free,'payment_status']='Free'

In [145]:
# check 'payment_status' unique values
df['payment_status'].unique()

array(['Pending', 'n/a', 'Paid', 'Unpaid', 'Free'], dtype=object)

In [147]:
df['nights']=df['manual_night']
df['price_per_night']=df['manual_price_per_night']
df['total_price']=df['manual_total_price']
df=df.drop(['manual_night','manual_price_per_night','manual_total_price','night'],axis=1)

In [167]:
with pd.ExcelWriter('Clean_data.xlsx') as writer:
    df.to_excel(writer, sheet_name='Clean_data', index=False)